*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.bg3{
    background-color:#fff;
    padding: 60px o;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 85%;
    margin: auto;
}

.about-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.about-img{
    width: 50%;
    vertical-align: middle;
    margin-bottom: 30px;
    margin-top: 30px;
}

.img{
    width: 100%;
}

.about-col{
    padding-left: 40px;
}

#hd {
    font-size: 15px;
    font-weight: 300;
    /*margin-bottom: 10px;
    margin-top: 30px;*/
    padding-right: 15px;
    padding-top: 20px;
}

#pr {
    font-size: 15px;
    font-weight: 100;
    color: grey;
    margin-bottom: 20px;
    padding-left: 60px;
    padding-bottom: 10px;
    padding-top: 5px;
  
}

i{
    color: orange;
    padding-right: 20px;
    font-size:150%;
    
}


